*{
     font-family: monospace;
}
.calculator {
    border: 2px solid;
    width: 600px;
    padding: 20px;
    border-radius: 20px;
    margin-top: 200px;
    margin-left: 700px;
    background-color: rgb(238, 211, 170);
    border-color: rgb(95, 58, 9);
    text-align: center;
}

label {
    font-size: larger;
    color: rgb(95, 58, 9);
}

h1 {
    text-align: center;
    color: rgb(95, 58, 9);
    padding: 10px;
    border-bottom: 2px solid;
    border-color: saddlebrown;
}

body {
    background-color: rgb(247, 227, 197);
}

button {
    background-color: rgb(104, 83, 51);
    border: 2px solid rgb(104, 83, 51);
    border-radius: 15px;
    padding: 8px;
    margin: 10px;
    margin-left: 20px;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(44, 26, 2);
}

button:hover {
    background-color: rgb(150, 104, 79);
}

input {
    border-radius: 5px;
    background-color: rgb(247, 227, 197);
    height: 20px;
}

#result {
    width: 300px;
    border: 2px solid;
    border-radius: 10px;
    border-color: rgb(118, 82, 35);
    text-align: center;
    padding: 10px;
    background-color: rgb(244, 179, 141);
    margin-left: 150px;
    border-style: dashed;
    color: rgb(95, 58, 9);
}